In [4]:
import pandas as pd
# import pandas to load and process spreadsheet-type data

medical_dataset=pd.read_csv(r'C:\Users\hp zbook\one\processed_heart_attack_prediction.csv') 

# load a medical dataset.

medical_dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.000000,0.0,2.0,185.0,0.0,0.0,1.894231,0.0,5.642857,0
1,29,1,2,120.0,243.000000,0.0,0.0,160.0,0.0,0.0,1.894231,0.0,5.642857,0
2,29,1,2,140.0,250.848708,0.0,0.0,170.0,0.0,0.0,1.894231,0.0,5.642857,0
3,30,0,1,170.0,237.000000,0.0,1.0,170.0,0.0,0.0,1.894231,0.0,6.000000,0
4,31,0,2,100.0,219.000000,0.0,1.0,150.0,0.0,0.0,1.894231,0.0,5.642857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160.0,331.000000,0.0,0.0,94.0,1.0,2.5,1.894231,0.0,5.642857,1
290,54,0,3,130.0,294.000000,0.0,1.0,100.0,1.0,0.0,2.000000,0.0,5.642857,1
291,56,1,4,155.0,342.000000,1.0,0.0,150.0,1.0,3.0,2.000000,0.0,5.642857,1
292,58,0,2,180.0,393.000000,0.0,0.0,110.0,1.0,1.0,2.000000,0.0,7.000000,1
293,65,1,4,130.0,275.000000,0.0,1.0,115.0,1.0,1.0,2.000000,0.0,5.642857,1

In [5]:
set(medical_dataset['num'])

{0, 1}

In [6]:
from sklearn.model_selection import train_test_split

# use the function to split the data, get 30% for testing and 70% for training.
train_data, test_data = train_test_split(medical_dataset, test_size=0.03, random_state=42)

#print the shapes (rows x columns) of the two datasets
print(train_data.shape)
print(test_data.shape)

(285, 14)
(9, 14)

In [6]:
from sklearn.tree import DecisionTreeClassifier

    
# create a Decision Tree Classifier
model=DecisionTreeClassifier(random_state=1)

# get the diagnosis column, to be used as the classification target
train_diagnoses=train_data['num']

# drop the diagnosis column to get only the symptoms
train_patient_symptoms=train_data.drop(columns=['num'])

# build a decision tree
model.fit(train_patient_symptoms, train_diagnoses)

# return the trained model

DecisionTreeClassifier(random_state=1)

In [9]:
#TEST DATA


# functions used to evaluate a classifier
from sklearn.metrics import accuracy_score,confusion_matrix

# drop the diagnosis column to get only the symptoms
test_patient_symptoms=test_data.drop(columns=['num'])

# get the diagnosis column, to be used as the classification target
test_diagnoses=test_data['num']

# guess the most likely diagnoses
pred=model.predict(test_patient_symptoms)
print(pred)
#print the achieved accuracy score
accuracy_score(test_diagnoses,pred)

[0 0 0 1 0 0 1 1 0]

0.7777777777777778

In [10]:
confusion_matrix(test_diagnoses,pred)

array([[5, 1],
       [1, 2]], dtype=int64)