In [3]:
 import pandas as pd
import numpy as np

In [25]:
df= pd.read_csv(r'C:\Users\hp zbook\homewok\three\MLS.csv')
df

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.00,143.7,510000.0,12.00,7/1/2015
1,Adjala-Tosorontio,140.8,499700.0,13.82,140.8,499700.0,13.82,8/1/2015
2,Adjala-Tosorontio,142.7,506400.0,15.83,142.7,506400.0,15.83,9/1/2015
3,Adjala-Tosorontio,138.4,491100.0,11.08,138.4,491100.0,11.08,10/1/2015
4,Adjala-Tosorontio,145.4,516000.0,16.51,145.4,516000.0,16.51,11/1/2015
...,...,...,...,...,...,...,...,...
5086,York Region,287.0,970300.0,11.76,292.0,1112000.0,12.65,11/1/2020
5087,York Region,289.5,978700.0,12.56,295.2,1124200.0,13.89,12/1/2020
5088,York Region,294.9,997000.0,13.34,301.7,1148900.0,15.20,1/1/2021
5089,York Region,309.9,1047700.0,17.16,318.6,1213300.0,20.23,2/1/2021
5090,York Region,324.1,1095700.0,19.82,334.4,1273400.0,23.49,3/1/2021

In [26]:
df.CompBenchmark.median()

726500.0

In [27]:
df.CompBenchmark=df.CompBenchmark.fillna(df.CompBenchmark.median())
df

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.00,143.7,510000.0,12.00,7/1/2015
1,Adjala-Tosorontio,140.8,499700.0,13.82,140.8,499700.0,13.82,8/1/2015
2,Adjala-Tosorontio,142.7,506400.0,15.83,142.7,506400.0,15.83,9/1/2015
3,Adjala-Tosorontio,138.4,491100.0,11.08,138.4,491100.0,11.08,10/1/2015
4,Adjala-Tosorontio,145.4,516000.0,16.51,145.4,516000.0,16.51,11/1/2015
...,...,...,...,...,...,...,...,...
5086,York Region,287.0,970300.0,11.76,292.0,1112000.0,12.65,11/1/2020
5087,York Region,289.5,978700.0,12.56,295.2,1124200.0,13.89,12/1/2020
5088,York Region,294.9,997000.0,13.34,301.7,1148900.0,15.20,1/1/2021
5089,York Region,309.9,1047700.0,17.16,318.6,1213300.0,20.23,2/1/2021
5090,York Region,324.1,1095700.0,19.82,334.4,1273400.0,23.49,3/1/2021

In [28]:
x=df.drop('CompIndex',axis='columns')
x

,Location,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,Date
0,Adjala-Tosorontio,510000.0,12.00,143.7,510000.0,12.00,7/1/2015
1,Adjala-Tosorontio,499700.0,13.82,140.8,499700.0,13.82,8/1/2015
2,Adjala-Tosorontio,506400.0,15.83,142.7,506400.0,15.83,9/1/2015
3,Adjala-Tosorontio,491100.0,11.08,138.4,491100.0,11.08,10/1/2015
4,Adjala-Tosorontio,516000.0,16.51,145.4,516000.0,16.51,11/1/2015
...,...,...,...,...,...,...,...
5086,York Region,970300.0,11.76,292.0,1112000.0,12.65,11/1/2020
5087,York Region,978700.0,12.56,295.2,1124200.0,13.89,12/1/2020
5088,York Region,997000.0,13.34,301.7,1148900.0,15.20,1/1/2021
5089,York Region,1047700.0,17.16,318.6,1213300.0,20.23,2/1/2021
5090,York Region,1095700.0,19.82,334.4,1273400.0,23.49,3/1/2021

In [30]:
y=df.CompIndex
y

0       143.7
1       140.8
2       142.7
3       138.4
4       145.4
        ...
5086    287.0
5087    289.5
5088    294.9
5089    309.9
5090    324.1
Name: CompIndex, Length: 5091, dtype: float64

In [32]:
print(df.iloc[0])

Location             Adjala-Tosorontio
CompIndex                        143.7
CompBenchmark                   510000
CompYoYChange                       12
SFDetachIndex                    143.7
SFDetachBenchmark               510000
SFDetachYoYChange                   12
Date                          7/1/2015
Name: 0, dtype: object

In [36]:
model.copy_X

True